*{
  font-family: 'Edu TAS Beginner', cursive;
  /* border: 1px solid red; */
}
#navigationBar{
  /* position: fixed; */
  background-image: url('./images/nav_background2.jpg');
  background-size: cover;
  height: 50vh;
}

.navigation{
  display: flex;
  justify-content: space-around;
  /* margin-right: 30rem; */
}

.navbar-options{
  overflow: hidden;
  padding: 0.5rem;
}

body {
background-color: #F5F5F5;
/* display:flex; */
}

h1{
  /* position: fixed; */
  font-size: 100px;
  background-color: #FFA000;
  line-height: 1.6;
}

h2{
font-size: 40px;
text-align: left;
/* font-style: italic; */
}

.pantry-check{
  font-size:30px;
}

/* .search-buttons, */
.save-button,
.delete-button,
.view-COOKBOOK-recipe,
.view-recipe-button,
.user-add-ingredient,
.add-amount,
.add-ingredient-to-pantry-btn{
font-size: 20px;
}

.recipe-title{
  font-size: 35px;
}


h3{
  font-size: 45px;
  text-decoration: underline overline;
}

h4,
li{
  font-size: 30px;
}

.feature-title{
  font-size: 60px;
}

h5{
  font-size: 35px;
  margin-bottom: 5%;
}

.search-buttons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  padding-top: 100px;
  font-size: 30px;
}

.query1,
.query2{
  height: 55px;
  width: 200px;
  font-size: 25px;
  line-height:normal;
}

.user-options {
  line-height: 1.6;
  align-items: center;
  appearance: none;
  background-color: #FFC107;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#FFECB3 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 40px;
  margin-top: 100px;
}

.user-options:focus {
  box-shadow: #FFECB3 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #FFECB3 0 -3px 0 inset;
}

.user-options:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #FFECB3 0 -3px 0 inset;
  transform: translateY(-2px);
}

.user-options:active {
  box-shadow: #FFECB3 0 3px 7px inset;
  transform: translateY(2px);
}

/* .recipe-list-container{
  display: flex;
} */
.saved-recipes-view,
.recipe-ideas-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

/* .saved-recipes-view {
  display: flex;
} */

.recipe-card {
  display: inline flex;
  align-items: center;
  flex-direction: column;
}
.recipe-display-image {
  box-shadow: 1px 0px 4px 3px rgba(0,0,0,0.2);
  border-radius: 20px;
  width: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 65px;
}
.recipe-name {
  font-size: 20px;
  text-align: center;
  display:flex;
  justify-content: center;
}
.view-recipe-button,
.save-button {
  margin: 0 0 5% 4rem;
  cursor: pointer;
  position: relative;
  display:flex;
  flex-direction:row;
}
/* .view-main-view{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */
/* .view-recipe-ideas-view {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
} */

.pantry-container {

  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

}


.list-container {

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
  font-size: 30px;
  width: vw;
}

.pantryHeader {
  width: 50%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.pantry-ingredients{
  width: 80vw;
}

.nameOfIngredientInPantry {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.hidden {
  display: none;
}
